Source: xfce4-i3-workspaces-plugin
section: utils
Priority: optional
Maintainer: Alexandre Acebedo <alexandre.acebedo@gmail.com>
Build-Depends: debhelper (>= 9), xfce4-panel-dev, libjson-glib-dev, libxcb1-dev, gobject-introspection, gtk-doc-tools, libxfce4util-dev, libglib2.0-dev, xfce4-dev-tools, libx11-dev, libxfce4ui-1-dev, libgtk2.0-dev, libi3ipc-glib
Standards-Version: 3.9.5
Homepage: http://www.github.com/aacebedo/xfce4-i3-workspaces-plugin

Package: xfce4-i3-workspaces-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxcb1, libjson-glib-1.0-0, gobject-introspection, xfce4-panel, libglib2.0-0, libi3ipc-glib
Description: A workspaces plugin for xfce4 and the i3 window manager.
